.home-con {
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
}
.home-head {
  color: white;
}
.home-con1 {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-des {
  color: white;
}
.home-img {
  width: 50%;
  height: 50%;
}
