.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.web-logo1 {
  height: 30px;
  width: 60px;
}
.nav-con {
  background-color: #272727;
}
li {
  list-style-type: none;
  margin-left: 10px;
}
.link-con {
  display: flex;
}
.link {
  color: white;
  text-decoration: none;
}
.btn1 {
  background-color: #6366f1;
  width: 100px;
  height: 30px;
  border-width: 0px;
  color: white;
  border-radius: 8px;
}
