.nav-con {
  background-color: #272727;
  width: 100vw;
}
.nav-header{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.web-logo1 {
  height: 30px;
  width: 60px;
}
.i1 {
  color: white;
}
.header-home-text {
  display: none;
}
li {
  list-style-type: none;
  margin-left: 10px;
}
.link-con {
  display: flex;
}
.link {
  color: white;
  text-decoration: none;
}
.btn1 {
  background-color: #6366f1;
  width: 100px;
  height: 30px;
  border-width: 0px;
  color: white;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .header-home-icon {
    display: none;
  }
  .header-home-text {
    display: block;
  }
}
