.job-item-details-con {
  min-height: 100vh;
  background-color: #000000;
}
.skill-ul-con {
  display: flex;
  flex-wrap: wrap;
}
.life-at-com-con {
  color: white;
}
.similar-con {
  width: 100%;
}
.similar-head {
  padding-left: 40px;
}
@media screen and (min-width: 768px) {
  .life-at-com-con {
    display: flex;
  }
  .similar-con {
    display: flex;
    flex-wrap: wrap;
  }
}
